@model ProjektTitsOI.Models.Gospodarstwo

@{
    ViewBag.Title = "EdytujGospodarstwo";
}
<br />
    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Home")'">Wróć do spisu gospodarstw</button>

    </div>
<h2>Edytuj Gospodarstwo</h2>
<h4>Na tej stronie możesz edytować szczegóły wybranego gospodarstwa</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.GospodarstwoId)
    <div class="form-horizontal">
        <div>
            @Html.Label("Nazwa gospodarstwa")
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazwaGospodarstwa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazwaGospodarstwa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div >
            @Html.Label("Liczba Osób")
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.LiczbaOsob, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LiczbaOsob, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div >
            @Html.Label("Liczba Paneli")
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.LiczbaPaneli, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LiczbaPaneli, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div>
            @Html.Label("Miasto")

            <div class="form-group">
                <div class="col-md-10">
                    @*ViewBag.CityList is holding all the cities values*@
                    @Html.DropDownListFor(m => m.MiastoNazwa, (SelectList)ViewBag.NazwyMiast)
                    @Html.ValidationMessageFor(model => model.MiastoNazwa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />

        <div>
            <div class="col-md-offset-2 col-md-10">
                <div>
                    <input type="submit" value="Edytuj" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <hr />

    </div>
}


